body {
    font-family: Roboto;
}

.menu {
    font-size: medium;
    padding: 5px;
    display: flex;
    flex-direction: row;
    height: 35px;
    position: sticky;
    bottom: 0px;
    background-color: white;
    border-top:1px solid #000;
    z-index: 999;
    justify-content: space-evenly;
}

.menu div {
    height: 100%;
    display: flex;
    align-items: center;
    vertical-align: middle;
}

:root {
    --color-deep-seal-blue: #001A33;
    --color-coral-orange: #FF6130;
    --color-aquamarine: #7FFFD4;
    --color-white-sand: #E1D8C6;
    --color-star-fish-yellow: #F5CD4A;
    --color-primary: var(--color-deep-seal-blue);
    --color-secondary: var(--color-aquamarine);
    --color-accent: var(--color-coral-orange);
    --color-neutral: var(--color-white-sand);
    --color-rating: var(--color-star-fish-yellow);
}