
:root {
    --color-deep-seal-blue: #001A33;
    --color-coral-orange: #FF6130;
    --color-aquamarine: #2ab1fe;
    --color-white-sand: #E1D8C6;
    --color-star-fish-yellow: #F5CD4A;
    --color-primary: var(--color-deep-seal-blue);
    --color-secondary: var(--color-aquamarine);
    --color-accent: var(--color-coral-orange);
    --color-neutral: var(--color-white-sand);
    --color-rating: var(--color-star-fish-yellow);
}

body {
    font-family: Roboto;
    margin: 0px;
}

.menu {
    font-size: medium;
    padding: 5px;
    display: flex;
    flex-direction: row;
    height: 35px;
    position: sticky;
    bottom: 0px;
    background-color: var(--color-primary);
    border-top:1px solid #000;
    z-index: 999;
    justify-content: space-evenly;
}

.menu div {
    height: 100%;
    display: flex;
    align-items: center;
    vertical-align: middle;
}


.button-primary {
    min-height: 40px;
    background-color: var(--color-primary);
    color: var(--color-neutral);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.button-neutral {
    min-height: 40px;
    background-color: var(--color-neutral);
    color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.button-accent {
    min-height: 40px;
    background-color: var(--color-accent);
    color: var(--color-neutral);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}