.content-lastExperiences-item {
    width: 100px;
    height: 100px;
    border: solid 1px #000;
    align-items: center;
    display: flex;
    justify-content: center;
}

.content-lastExperiences {
    display: flex;
    align-items: center;
    vertical-align: middle;
    flex-direction: column;
    justify-content: space-around;
}

.content-lastExperiences-moments {
    width: 100%;
    max-height: 600px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.content-lastExperiences-lastExperience-moment-description {
    font-size: small;
}

.content-lastExperiences-lastExperience-moment {
    min-height: 80px;
    width: 100%;
    border-bottom: 1px solid #000;
    justify-content: space-around;
}