.content {
    height: 100%;
    overflow-y: scroll;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.head {
    flex: 1;
    display: flex;
    background-color: var(--color-primary);
    align-items: center;
    color: var(--color-neutral);
    justify-content: center;
}

.seal {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    border-bottom: 1px solid var(--color-primary);
}

.seal-description{
    margin:5px;
    display: -webkit-box;
    -webkit-line-clamp: 5; /* Number of lines you want to display */
    -webkit-box-orient: vertical;  
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;  
    margin-bottom: 10px;
}
.seal-hashtags{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap:wrap;
    max-height: 100px;
}

.seal-hashtags div {
    margin:5px;
}