<!DOCTYPE html>
<html lang="en">
    <head>
    {{> partials/head}}
    <link rel="stylesheet" href="/css/index.css">
    <script>
        async function chama(){

            const resposta = await fetch('/create_template',{method: 'post'});
        }

    </script>
    </head>    
    <body>
        <textarea type="textarea" id="bodyy">
        </textarea>
        <input type="button" value="aham" onclick="chama()"/>
    </body>
</html>