<!DOCTYPE html>
<html lang="en">

    {{> partials/head}}
    <link rel="stylesheet" href="/css/index.css">
<body>
    <div class="content height-100">
        <div class="content-stars flex-column align-center">
            <div class="content-stars-title margin-bot-5">
                How was your last experience?
            </div>
            <div class="content-stars-rating flex-row">
                <div class="content-stars-rating-start"><a href='/new_moment?rate=1'>⭐</a></div>
                <div class="content-stars-rating-start"><a href='/new_moment?rate=2'>⭐</a></div>
                <div class="content-stars-rating-start"><a href='/new_moment?rate=3'>⭐</a></div>
                <div class="content-stars-rating-start"><a href='/new_moment?rate=4'>⭐</a></div>
                <div class="content-stars-rating-start"><a href='/new_moment?rate=5'>⭐</a></div>
            </div>
        </div>
        <hr>
        <div class="content-lastExperiences">
            <spam>Your lastest experiences</spam>
            <div class="flex-row justify-around width-100">
                <div class="content-lastExperiences-item">Songs</div>
                <div class="content-lastExperiences-item">Movies</div>
            </div>
            <div class="flex-row justify-around width-100">
                <div class="content-lastExperiences-item">Places</div>
                <div class="content-lastExperiences-item">Books</div>
            </div>
        </div>
    </div>
</body>

</html>