<!DOCTYPE html>
<html lang="en">

{{> partials/head}}
<link rel="stylesheet" href="/css/index.css">

<body _="init {{currentSeals.currentSeals}} end">
  <div class="content height-100">
    <div class="content-stars flex-column align-center">
      <div class="content-stars-title margin-bot-5">
        <b>How was your last experience?</b>
      </div>
      <div class="rating-stars flex-row">
        <div class="rating-stars-star"><a href='/new_seal?rate=1'>⭐</a></div>
        <div class="rating-stars-star"><a href='/new_seal?rate=2'>⭐</a></div>
        <div class="rating-stars-star"><a href='/new_seal?rate=3'>⭐</a></div>
        <div class="rating-stars-star"><a href='/new_seal?rate=4'>⭐</a></div>
        <div class="rating-stars-star"><a href='/new_seal?rate=5'>⭐</a></div>
      </div>
      <div class="content-sealTemplates">
        {{#sealsTemplate}}
          <div class="content-sealTemplates-template" sealTemplate-id="{{_id}}" sealTemplate-name="{{seal_name}}" seal-hashtags="{{seal_hashtags}}" _="
          on click
            go to url '/new_seal?rate=0&name={{seal_name}}&hashtag={{seal_hashtags}}'
          end">
            <div class="content-sealTemplates-template-question">
              {{sealTemplate_question}}
            </div>
            <div class="rating-stars">
              <div class="rating-starts-start"><a _="init js() return '/new_seal?rate=1&name='+encodeURIComponent('{{seal_name}}')+'&hashtag='+encodeURIComponent('{{seal_hashtags}}') end put the result into encodedLink set @href to encodedLink end">⭐</a></div>
              <div class="rating-starts-start"><a _="init js() return '/new_seal?rate=2&name='+encodeURIComponent('{{seal_name}}')+'&hashtag='+encodeURIComponent('{{seal_hashtags}}') end put the result into encodedLink set @href to encodedLink end">⭐</a></div>
              <div class="rating-starts-start"><a _="init js() return '/new_seal?rate=3&name='+encodeURIComponent('{{seal_name}}')+'&hashtag='+encodeURIComponent('{{seal_hashtags}}') end put the result into encodedLink set @href to encodedLink end">⭐</a></div>
              <div class="rating-starts-start"><a _="init js() return '/new_seal?rate=4&name='+encodeURIComponent('{{seal_name}}')+'&hashtag='+encodeURIComponent('{{seal_hashtags}}') end put the result into encodedLink set @href to encodedLink end">⭐</a></div>
              <div class="rating-starts-start"><a _="init js() return '/new_seal?rate=5&name='+encodeURIComponent('{{seal_name}}')+'&hashtag='+encodeURIComponent('{{seal_hashtags}}') end put the result into encodedLink set @href to encodedLink end">⭐</a></div>
            </div>
          </div>
        {{/sealsTemplate}}
        </div>
      </div>
    </div>
    <div class="flex-colum content-lastExperiences width-100">
      <div class="content-lastExperiences-seals">
        <div class="content-lastExperiences-seals-title width-100 text-align-center">
            <h3>Yours Seals !</h3>
        </div>
        {{#currentSeals}}
        <div class="content-lastExperiences-lastExperience">
          <div class="content-lastExperiences-lastExperience-seal flex-column width-100" _="
          init
            set @sealId to '{{_id}}'
          end
          ">
            <div class="content-lastExperiences-lastExperience-seal-header justify-between flex-row">
              <div class="content-lastExperiences-lastExperience-seal-header-name"><b>{{seal_name}}</b></div>
              <div class="content-lastExperiences-lastExperience-seal-header-starts" _="
              init 
                get getStars({{seal_rate}})
                put it into me
              end
              "></div>
            </div>
            <div class="content-lastExperiences-lastExperience-seal-description">{{seal_description}}</div>
            <div class="flex-row justify-between">
              <div class="content-lastExperiences-lastExperience-seal-hashtags flex-row flex-7 margin-top-5">
                {{#seal_hashtags}}
                <span class="hashtag">#{{.}}</span>
                {{/seal_hashtags}}
              </div>
              <div class="flex-row flex-1 justify-around align-center">
                <div class="clickable" _="
                init
                  set @seal-id to '{{_id}}'
                end

                on click
                  set sealId to @seal-id

                  js(sealId)
                    return '/seals?sealId='+encodeURIComponent(sealId)
                  end put the result into encodedLink
  
                  fetch `${encodedLink}` with method:'DELETE'

                  tell closest .content-lastExperiences-lastExperience-seal
                    add .display-none

                end
                ">❌</div>
                <div class="clickable" _="
                init
                  set @seal-id to '{{_id}}'
                end
                ">📝</div>
                <div _="
                on click
                  call navigator.clipboard.writeText('{{shareableText}}')
                end
                ">
                  📤
                </div>
              </div>
            </div>

          </div>
        </div>
        {{/currentSeals}}
      </div>
    </div>
  </div>
{{> partials/menu}}

</body>

</html>