<!DOCTYPE html>
<html lang="en">

{{> partials/head}}
<link rel="stylesheet" href="/css/index.css">

<body>
    <form action="/login" method='POST' class="flex-column width-100 text-align-center justify-around">
        <h1>Judging Seal</h1>

        <label for="user_name">User</label>
        <input type="text" id="user_name" name="user_name"> 

        <label for="user_psw">Password</label>
        <input type="password" id="user_psw" name="user_psw">   

        <input type="submit" value="Start Judging!!!!" class="margin-top-5">
    </form>

</body>

</html>