<!DOCTYPE html>
<html lang="en">
    <head>
    {{> partials/head}}
    <link rel="stylesheet" href="/css/new_moment.css">
    </head>    
    <body>
    <div class="content flex-column height-100 width-100">
        <a href='/'>GO BACK</a>
        <div class=" content-rating height-100 flex-row" _="init 
            repeat in [1,2,3,4,5]
                if it <= {{rate}} then
                    set start to '⭐'
                else
                     set start to '☆'
                end

                make a <div.content-rating-start/> called contentRating
                    put start into it
                
                put contentRating at end of me
            end
        end
        ">
        </div>
        <div class="flex-column justify-around">
            <input type="text" class="content-momentName margin-bot-5 border-none border-bottom" placeholder="name your moment">
            <input type="textarea" class="content-momentDescription border-none border-bottom" placeholder="Wanna talk more about it?">
            <input type="text" class="content-momentHashtag border-none border-bottom" placeholder="# your moment">
        </div>

        <div class="margin-top-5" _="on click
            set name to .content-momentName.value
            set momentHashtag to .content-momentHashtag.value
            set momentDescription to .content-momentDescription
            set rate to {{rate}}
            js(rate,name,momentHashtag,momentDescription)
                return '/new_moment?rate='+encodeURIComponent(rate)+'&name='+encodeURIComponent(name)+'&momentHashtag='+encodeURIComponent(momentHashtag)&momentDescription='+encodeURIComponent(momentDescription)
            end put the result into encodedLink
            fetch `${encodedLink}` with method:'POST'
            go to url /index
        end">
            cria essa porcaria
        </div>
    <div>

    </body>
</html>