<!DOCTYPE html>
<html lang="en">
    <head>
        {{> partials/head}}
        <link rel="stylesheet" href="/css/new_seal.css">
    </head>
    <body>
        <div class="content flex-column width-80 justify-start">
            <input type="text" value="{{name}}" class="content-sealName"
                placeholder="Title your seal">
            <div class="content-rating" _="init
            set rate to '{{rate}}' or '1'
            call getStars(rate)
            put it into me
        end

        on click
            
            get target.closest('.content-rating-start') 
                tell result
                    set rate to @rate
                    call getStars(rate)
                    put it into me
                    set <.createSeal/> @rate to rate
                end

        end
        "></div>
            <textarea class="content-sealDescription"
                placeholder="Wanna talk more about it?"></textarea>
            <input type="text" value="{{hashtag}}" class="content-sealHashtag"
                placeholder="# your seal">
            <div class="flex-column align-center">
                <div type="button" class="createSeal button-neutral width-90 clickable" _="on click
            set name to .content-sealName.value
            set sealHashtag to .content-sealHashtag.value
            set sealDescription to .content-sealDescription.value
            set rate to @rate or '{{rate}}'
            js(rate,name,sealHashtag,sealDescription)
                return '/new_seal?rate='+encodeURIComponent(rate)+'&name='+encodeURIComponent(name)+'&sealHashtag='+encodeURIComponent(sealHashtag)+'&sealDescription='+encodeURIComponent(sealDescription)
            end put the result into encodedLink
            fetch `${encodedLink}` with method:'POST'
            go to url /ocean
        end">
                    Send it!
                </div>
                <div class="button-accent margin-top-5 clickable"
                    _="on click go to url /ocean">
                    Back to the ocean
                </div>
            </div>
        </div>

    </body>
</html>