<!DOCTYPE html>
<html lang="en">
    <head>
    {{> partials/head}}
    <link rel="stylesheet" href="/css/ocean.css">
    <link rel="stylesheet" href="/css/seals.css">

    </head>    
    <body>
        <div class="content">
            <section class='head margin-bot-5'>
                <span class="text-align-center">
                    <h2>WEALCOME TO THE OCEAN</h2>
                </span>
            </section>
            <div class="sealContainer flex-column height-100">
                {{#seals}}
                    {{> partials/seal}}
                    <hr/>
                {{/seals}}
            </div>
        </div>
    <div class="new-seal clickable" _="on click go to url /new_seal end">➕</div>
    {{> partials/menu}}
    </body>
</html>