<!DOCTYPE html>
<html lang="en">
    <head>
    {{> partials/head}}
    <link rel="stylesheet" href="/css/profile.css">
    <link rel="stylesheet" href="/css/seals.css">

    </head>    
    <body>
        <div class="content">
            <section class='background-color-primary text-color-neutral margin-bot-5'>
                <span class="text-align-center">
                    <h2>PROFILE</h2>
                </span>
            </section>
            <section class="flex-row text-align-center justify-center align-center">
                <div class="flex-column">
                    <span>52</span>
                    <span>seals</span>
                </div>
                <div class="margin-horizontal-10">
                    <img class="border-circle" src="/images/seal.png" height="50px" width="50px"/>
                </div>
                <div class="flex-column">
                    <span>578</span>
                    <span>stars</span>
                </div>
            </section>
            <div class="flex-row text-align-center justify-center align-center">
                WEDERSON DOMINGUES
            </div>
            <section class="container">
                <div class="container-head">
                    <div class="container-head-option selected">seals</div>
                    <div class="container-head-option">mood</div>
                </div>
                <div class="container-content">
                    <div class="sealContainer">
                        {{#seals}}
                        {{> partials/seal}}
                        <hr/>
                        {{/seals}}
                        </div>
                </div>
            </section>
        </div>
    {{> partials/menu}}
    </body>
</html>