<!DOCTYPE html>
<html lang="en">
    <head>
    {{> partials/head}}
    <link rel="stylesheet" href="/css/index.css">
    </head>    
    <body>
        <div class="content">
            <section class='background-color-primary text-color-neutral margin-bot-5'>
                <span class="text-align-center">
                    <h2>PROFILE</h2>
                </span>
            </section>
        </div>
    {{> partials/menu}}
    </body>
</html>