<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Judgning Seal</title>
    <link rel="stylesheet" href="/css/utility-first.css">
    <link rel="stylesheet" href="/css/global.css">

    <script src='/js/_hyperscript.min.js'></script>

    <link rel="icon" type="image/png" sizes="180x180" href="/images/favicon.png">

</head>