<div class="menu">
    <div class="menu-index clickable" _="on click go to url /new_seal end">➕</div>
    <div class="menu-index clickable" _="on click go to url /user end">👨</div>
    <div class="menu-ocean clickable" _="on click go to url /ocean end">🌊</div>
</div>